

#page { width: 75%;
	   margin: 0 auto;
	   .b9 {border-style:inset;}
	   }




body {display: inline-block;
 		margin: 10px;
 		font-family: 'Shadows Into Light', cursive; color: blue;
		background-image: url(http://i.imgur.com/vgHd424.jpg);
		background-size: cover; 
	}

header {text-align: center;}
